body {
    margin:0 ; 
}
.main {
    display:flex;
    margin: 0 auto ;  

}
.hero{ 
   width: 100%; 
   padding-left: 180px;
   padding-top: 100px;
   
    }

.title{   
   padding-bottom: 20px;
    line-height: 5pt;   
}
.para{
    
    color: gray;
    line-height: 5pt;
}
.btn {
    margin-top:15px;
    padding: 15px;
    background-color: orangered;
    color: white;
    border:none;
}
