body {
    margin:0 ; 
    font-family: Arial, Helvetica, sans-serif;
    border: 1px dotted black;
   
}
.main {
    display:flex;
    margin: 0 auto ;  

}
.hero{ 
   width: 100%; 
   position:relative;
   top:230px;
   left :200px;  
    }

.title{   
   padding-bottom: 20px;
   line-height: 5pt;   
}
.para{
    
    color: gray;
    line-height: 5pt;
}
.btn {
    font-family: inherit;
    margin-top:15px;
    padding: 15px;
    background-color: orangered;
    color: white;
    border:none;
}
@media screen and (max-width:600px)
{
    .main{
          margin :0 50px;
         }
 
}